# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

*.txt
*.xml
404.html
/doc
tile-wide.png
tile.png
favicon.ico
icon.png

