[Desktop Entry]
Encoding=UTF-8
Name=Link to Bidding Rules - ReadySetAuctionhttps://www.readysetauction.com/policies/bidding-rules/
Type=Link
URL=https://www.readysetauction.com/policies/bidding-rules/
Icon=text-html
