form li{
    list-style: none;
    margin-bottom: 20px;
}

form ul{
    padding-left: 0px;
}

label{
    display: block;
    cursor: pointer;
    color: indigo;
    font-family: sans-serif;
    padding-bottom: 8px;
}

textarea{
    width: 350px;
    height: 200px;
}