// .secondnav
// {   color: white;
//     background-color: black;
//     height: 2px;
//     bottom: 0;
//     position: fixed;
// }
.page-footer font-small stylish-color-dark pt-4
{
    display: block;
    position: relative;
    text-align: center;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x:hidden;
}