// .item-card {
//     margin: 15px;
//     max-width: 450px;
//     max-height: 450px;
//     width: 400px;
//     height: 450px;
//     align-items: center;
//     background-color: rgb(194, 211, 243); 
//     position: static;      
// }

// .image
// {
//     max-height: 10px;
// }

// .carousel-multi-item
// {
//     margin: 15px;
// }
// .body
// {
//     max-height:30px;
// }
.main
{
    text-align: center;
    margin-top:5px;
    overflow-x:hidden;
}