<!--Section: Products v.4-->
<section class="first">

    <!--Section heading-->
    <h2 class="h1 py-5">Top Trending Categories</h2>
    <!--Section description-->
    <p class="grey-text mb-5">These are the categories that most of our users bid which you may like.</p>
  
    <!--Grid row-->
    <div class="row">
  
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">
  
        <!--Collection card-->
        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""></mdb-card-img>
            <div class="stripe dark">
              <a>
                <p>Fashion
                  <mdb-icon fas icon="angle-right"></mdb-icon>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
        <!--Collection card-->
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">
  
        <!--Collection card-->
        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/8.jpg" alt=""></mdb-card-img>
            <div class="stripe light">
              <a>
                <p>Electronics
                  <mdb-icon fas icon="angle-right"></mdb-icon>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
        <!--Collection card-->
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">
  
        <!--Collection card-->
        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/9.jpg" alt=""></mdb-card-img>
            <div class="stripe dark">
              <a>
                <p>Artifacts
                  <mdb-icon fas icon="angle-right"></mdb-icon>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
        <!--Collection card-->
  
      </div>
      <!--Grid column-->
  
      <!--Fourth column-->
      <div class="col-lg-3 col-md-6 mb-4">
  
        <!--Collection card-->
        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/7.jpg" alt=""></mdb-card-img>
            <div class="stripe light">
              <a>
                <p>Home Decor
                  <mdb-icon fas icon="angle-right"></mdb-icon>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
        <!--Collection card-->
  
      </div>
      <!--Fourth column-->
  
    </div>
    <!--Grid row-->
  
  </section>
  <!--Section: Products v.4-->