<h1>fghn</h1>

<!-- <mat-search-bar >Search</mat-search-bar> -->
<nav>
   <!-- <div>
            <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" name="value" placeholder="Search" aria-label="Search" [(ngModel)] =  "value">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)= "search(value)">Search</button>
                    </form>
    </div>  -->
</nav>
<input #songName type="text" (onKeyup)=search(songName.value)>
<button (click)=search(songName.value)>search</button>

<table>
        <tr>
            
            <th>name</th>
            <th>artist</th>
           
           
        </tr>
        <tr *ngFor="let com of playList.results.trackmatches.track">
        
               
                <td>{{com.name}}</td>
               
               
            
        </tr>
    </table>
    