<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
     <a class="navbar-brand float-left" routerLink='/home-page'>Muzix Application</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     
     <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
       <div class="navbar-nav">
         <a class="nav-item btn nav-link" routerLink="/home-page" routerLinkActive="active">Music Home<span class="sr-only">(current)</span></a>
         <a class="nav-item nav-link" routerLink="favs"  >Wishlist</a>
       </div>
     </div>
   </div>
   </nav>