
<!--############################################################################3-->
<section class="card">
    <mat-card class="item-card" >
            <mat-card-header>
              
            </mat-card-header>
    
              <mat-card-content >
                <h1>Canon Camera</h1>
                <p>Used for 20 months</p>
            </mat-card-content>
           
    </mat-card> 
    
    <mat-card class="item-card" >
            <mat-card-header>
              
            </mat-card-header>
    
              <mat-card-content >
                <h1>Skybags Trolley</h1>
                <p>Used for 10 months</p>
            </mat-card-content>
           
    </mat-card> 
    
    <mat-card class="item-card" >
            <mat-card-header>
              
            </mat-card-header>
    
              <mat-card-content >
                <h1>Titan Rga watach</h1>
                <p>Used for 2 months</p>
            </mat-card-content>
           
    </mat-card>    
    <mat-card class="item-card" >
            <mat-card-header>
              
            </mat-card-header>
    
              <mat-card-content >
                <h1>Mi watch</h1>
                <p>Used for 2 months</p>
            </mat-card-content>
           
    </mat-card> 
    
    <mat-card class="item-card" >
            <mat-card-header>
              
            </mat-card-header>
    
              <mat-card-content >
                <h1>Bose speakers</h1>
                <p>Used for 20 months</p>
            </mat-card-content>
           
    </mat-card> 
    
    
    </section>
          