<!-- Section: Blog v.2 -->
<section class="first">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Recently Added</h2>
    <!-- Section description -->
    <p class="dark-grey-text w-responsive mx-auto mb-5">These are the products that are recently added which you may like</p>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!-- Category -->
        <a href="#!" class="pink-text">
          <h6 class="font-weight-bold mb-3"><mdb-icon far icon="map" class="pr-2"></mdb-icon>Electronics</h6>
        </a>
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>Oppo Reno 2</strong></h4>
        <!-- Post data -->
        <!-- <p>by <a class="font-weight-bold">Billy Forester</a>, 15/07/2018</p> -->
        <!-- Excerpt -->
        <p class="dark-grey-text">This product is been used for 5 months</p>
        <!-- Read more button -->
        <a mdbBtn color="pink" rounded="true" mdbWavesEffect>Bid</a>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!-- Category -->
        <a href="#!" class="deep-orange-text">
          <h6 class="font-weight-bold mb-3"><mdb-icon fas icon="graduation-cap" class="pr-2"></mdb-icon>Fashion</h6>
        </a>
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>Givenchy Jacket</strong></h4>
        <!-- Post data -->
        <!-- <p>by <a class="font-weight-bold">Billy Forester</a>, 13/07/2018</p> -->
        <!-- Excerpt -->
        <p class="dark-grey-text">This product has been used for 7 months</p>
        <!-- Read more button -->
        <a mdbBtn color="deep-orange" rounded="true" mdbWavesEffect>Bid</a>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-0">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/13.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!-- Category -->
        <a href="#!" class="blue-text">
          <h6 class="font-weight-bold mb-3"><mdb-icon fas icon="fire" class="pr-2"></mdb-icon>Artifacts</h6>
        </a>
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>Ms Hussain Painting</strong></h4>
        <!-- Post data -->
        <!-- <p>by <a class="font-weight-bold">Billy Forester</a>, 11/07/2018</p> -->
        <!-- Excerpt -->
        <p class="dark-grey-text">This painting has been under usage for 6 months.</p>
        <!-- Read more button -->
        <a mdbBtn color="info" rounded="true" mdbWavesEffect>Bid</a>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Blog v.2 -->